<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="css/landing/landing.css">
</head>

<body>
    <header>
        <article id="menu-bar">
            <a href="/">
                <p class='essential'>ESSENTIAL SOUNDS</p>
            </a>
            <div class="temas-container">
                <a href="/products">
                    <p class='nav-options'>Álbumes</p>
                </a>
                <span style="background-color:#505050"></span>
                <a href="#">
                    <p class='nav-options'>Carrito</p>
                </a>
            </div>
        </article>
    </header>

    <footer id="main-footer">
        <div id="legal">
            <p>Privacy Policy</p>
            </br>
            <p>Terms & Condition</p>
            </br>
            <p>About</p>
        </div>
        <div id="newsletter">
            <label>
                <p>WEEKLY NEWSLETTER</p>
                <input id='msg' type="text">
                <button id='submit-btn' type="submit">SUBSCRIBE</button>
            </label>
        </div>
        <div id="redes">
            <a href=https://www.facebook.com/>
            <img src="icons/facebook.svg" alt="Facebook">
            </a>
            <a href=https://www.instagram.com/atte_jaime/>
            <img src="icons/instagram.svg" alt="Instagram">
            </a>
            <a href=https://www.twitter.com/>
            <img src="icons/twitter.svg" alt="Twitter">
            </a>
        </div>
    </footer>

</body>

</html>