<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="css/landing/landing.css">
</head>

<body>
    <header>
        <article id="menu-bar">
            <a href="/">
                <p class='essential'>ESSENTIAL SOUNDS</p>
            </a>
            <div class="temas-container">
                <a href="/products">
                    <p class='nav-options'>Álbumes</p>
                </a>
                <span style="background-color:#505050"></span>
                <a href="#">
                    <p class='nav-options'>Carrito</p>
                </a>
            </div>
        </article>
    </header>

    <script src=""></script>
</body>

</html>