@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:400,400i,700,700i,900,900i|Josefin+Sans");
body,
html,
div,
section,
p {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  color: #505050;
  font-family: "Barlow Condensed", "Helvetica", sans-serif;
}

h1 {
  font-family: "Barlow Condensed", "Helvetica", sans-serif;
  font-weight: 700;
  font-style: italic;
  margin: 0;
  padding: 0;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #505050;
  font-size: 1rem;
  font-family: "Josefin Sans", "Arial", sans-serif;
  font-weight: 300;
}

a:hover {
  color: #D43A4C;
}

header {
  width: 100vw;
  height: 60px;
  z-index: 99;
  top: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
}

header #menu-bar {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  text-align: center;
  color: #ffffff;
}

header #menu-bar .temas-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #menu-bar .temas-container span {
  width: 5%;
  height: 1px;
}

header #menu-bar .temas-container .nav-options {
  color: #ffffff;
  font-size: 20px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

header #menu-bar .temas-container .nav-options:hover {
  color: #D43A4C;
}

header #menu-bar a {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

header #menu-bar a .essential {
  position: absolute;
  color: #ffffff !important;
  font-size: 30px !important;
  font-weight: 700 !important;
}

.producto {
  width: 50%;
  height: 600px;
  margin: auto;
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.producto .img-container .imagen {
  width: 300px;
  height: 300px;
  background-size: cover;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.producto .img-container .add-cart {
  width: 100%;
  background-color: #D43A4C;
  padding: 3%;
  border: none;
  font-family: "Barlow Condensed", "Helvetica", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1.2rem;
  color: #ffffff;
  -webkit-transition: all .5s;
  transition: all .5s;
  margin: 5% 0;
}

.producto .img-container .add-cart:hover {
  color: #ffffff;
  background-color: #6e262e;
}

.producto .img-container .add-cart:active {
  position: relative;
  top: 1px;
}

.producto .info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  padding: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.producto .info span {
  background-color: #FFE4D8;
  width: 80%;
  height: 2px;
  margin: 2% 0;
}

.producto .info h1 {
  font-size: 3rem;
  color: #D43A4C;
}

.producto .info p {
  font-size: 1.2rem;
  margin: 1% 0;
}

.producto .info .price {
  font-family: "Barlow Condensed", "Helvetica", sans-serif;
  font-size: 2rem;
  color: #D43A4C;
}

#main-footer {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 30vh;
  background-color: #202020;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

#main-footer #legal {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#main-footer #legal p {
  color: #ffffff;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 400;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#main-footer #legal p:hover {
  color: #D43A4C;
}

#main-footer #newsletter {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

#main-footer #newsletter label {
  width: 100%;
}

#main-footer #newsletter label p {
  font-weight: 400;
  font-style: italic;
  font-size: 1.5rem;
  text-align: center;
  color: #ffffff;
  margin-bottom: 2rem;
}

#main-footer #newsletter label input {
  border: 2px solid #D43A4C;
  background-color: transparent;
  width: 15rem;
  margin-left: 20%;
  padding: .5rem;
  font-family: "Barlow Condensed", "Helvetica", sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 1rem;
  border-color: #ffffff;
}

#main-footer #newsletter label button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #ffffff;
  background-color: transparent;
  padding: .5rem 2.5rem;
  font-family: "Barlow Condensed", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #ffffff;
  -webkit-transition: all 1s;
  transition: all 1s;
  margin: 0;
}

#main-footer #newsletter label button:hover {
  color: #ffffff;
  border: 0;
  background-color: #D43A4C;
}

#main-footer #newsletter label button:active {
  position: relative;
  top: 1px;
}

#main-footer #redes {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
}

#main-footer #redes img {
  width: 50px;
  height: 50px;
  fill: #ffffff;
}
/*# sourceMappingURL=product_view.css.map */