@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:400,400i,700,700i,900,900i|Josefin+Sans');
//////fonts
$title-font: 'Barlow Condensed',
'Helvetica',
sans-serif;
$text-font: 'Josefin Sans',
'Arial',
sans-serif;
//////colors
$red: #D43A4C;
$white: #ffffff;
$grey: #505050;
$dark-beige: #FFE4D8;
$beige: #FFF6EB;
body,
html,
div,
section,
p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    color: $grey;
    font-family: $title-font;
}

h1 {
    font-family: $title-font;
    font-weight: 700;
    font-style: italic;
    margin: 0;
    padding: 0;
}

a {
    &:link,
    &:visited,
    &:hover,
    &:active {
        text-decoration: none;
        color: $grey;
        font-size: 1rem;
        font-family: $text-font;
        font-weight: 300;
    }
    &:hover {
        color: $red;
    }
}

button {
    box-sizing: border-box;
    border: 2px solid $red;
    background-color: transparent;
    padding: .5rem 2.5rem;
    font-family: $title-font;
    font-weight: 400;
    color: $red;
    transition: all 1s;
    margin: 0;
    &:hover {
        color: $white;
        border: 0;
        background-color: $red
    }
}

header {
    width: 100vw;
    height: 60px;
    z-index: 99;
    top: 0;
    position: fixed;
    background-color: rgba($color: #000000, $alpha:0.9);
    #menu-bar {
        margin: 0 auto;
        display: flex;
        width: 70%;
        justify-content: space-between;
        padding: 10px;
        text-align: center;
        color: $white;
        .temas-container {
            flex: 1;
            padding: 10px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            span {
                width: 5%;
                height: 1px;
            }
            .nav-options {
                color: $white;
                font-size: 20px;
                transition: all .3s;
                &:hover {
                    color: $red;
                }
            }
        }
        a {
            flex: 2;
            .essential {
                position: absolute;
                color: $white !important;
                font-size: 30px !important;
                font-weight: 700 !important;
            }
        }
    }
}

#banner {
    display: flex;
    height: 100vh;
    padding: 1rem 12rem;
    .title-container {
        padding-top: 11rem;
        h1 {
            padding-top: 3rem;
            font-size: 9rem;
            color: $white;
            span {
                color: $red;
            }
        }
        #title-animation {
            position: relative;
            transition: all ease-out .5s;
            span {
                background-color: $dark-beige;
                transition: all ease-out .2s;
                &:hover {
                    opacity: 0;
                }
            }
            &::after {
                content: attr(data-hover);
                position: absolute;
                left: 0;
                width: 100%;
                text-align: left;
                opacity: 0;
                background-color: $red;
                color: $white;
                transform: translate(-150%, 0);
                transition: all ease-out .5s;
            }
            &:hover::after {
                opacity: 1;
                transform: translate(0, 0); //transition-delay: .4s;
            }
        }
        button {
            margin-top: 4rem;
            font-size: 1.5rem;
        }
    }
    .images-container {
        z-index: 98;
        flex: 1;
        position: relative;
        img {
            width: 23rem;
            height: 23rem;
            position: absolute;
            right: 15rem;
            bottom: -10rem;
            transition: all .5s;
            &:hover {
                transform: translate(15%, -15%);
            }
        }
        #img2 {
            right: 10rem;
            bottom: -2.5rem;
        }
        #img1 {
            right: 5rem;
            bottom: 5rem;
        }
    }
}

.parallax-1 {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#info {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    #promo {
        flex: 2;
        width: 100%;
        display: flex;
        background-color: $beige;
        .image-container {
            flex: 1.1;
            padding: 12% 0 12% 12%;
        }
        .info-container {
            flex: 1.8;
            position: relative;
            display: inline;
            margin: auto;
            h1 {
                color: $grey;
                font-size: 4rem;
                span {
                    background-color: $red;
                    color: $white;
                }
            }
            p {
                margin-left: 5%;
                width: 40%;
                margin-top: 3rem;
                font-size: 1.2rem;
                font-family: $text-font;
            }
        }
    }
    #carac {
        flex: 1;
        display: flex;
        background-color: $dark-beige;
        justify-content: space-evenly;
        .caracts {
            width: 20%;
            //padding: 20% 0%;
            color: $grey;
            display: flex;
            flex-flow: column;
            align-items: center;
            img {
                width: 40px;
                height: 40px;
                margin: 5% auto;
            }
            h1 {
                margin-top: 10%;
                font-weight: 700;
                font-style: italic;
                font-size: 1.8rem;
            }
            p {
                width: 90%;
                margin: 10% 0;
                text-align: center;
                font-family: $text-font;
                font-size: 1.2rem;
            }
        }
    }
}

#main-footer {
    display: flex;
    width: 100%;
    height: 30vh;
    background-color: #202020;
    flex-flow: row nowrap;
    align-items: center;
    color: $white;
    #legal {
        flex: 1;
        p {
            color: $white;
            font-size: 1.2rem;
            text-align: center;
            font-weight: 400;
            transition: all .3s;
            &:hover {
                color: $red;
            }
        }
    }
    #newsletter {
        flex: 1;
        font-size: 0;
        display: flex;
        align-content: center;
        label {
            width: 100%;
            p {
                font-weight: 400;
                font-style: italic;
                font-size: 1.5rem;
                text-align: center;
                color: $white;
                margin-bottom: 2rem;
            }
            input {
                border: 2px solid $red;
                background-color: transparent;
                width: 15rem;
                margin-left: 20%;
                padding: .5rem;
                font-family: $title-font;
                font-weight: 400;
                color: $white;
                font-size: 1rem;
                border-color: $white;
            }
            button {
                box-sizing: border-box;
                border: 2px solid $white;
                background-color: transparent;
                padding: .5rem 2.5rem;
                font-family: $title-font;
                font-weight: 400;
                font-size: 1rem;
                color: $white;
                transition: all 1s;
                margin: 0;
                &:hover {
                    color: $white;
                    border: 0;
                    background-color: $red
                }
                &:active {
                    position: relative;
                    top: 1px;
                }
            }
        }
    }
    #redes {
        flex: 1;
        box-sizing: content-box;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-content: center;
        img {
            width: 50px;
            height: 50px;
            fill: $white;
        }
    }
}